<div class="container">
  <div class="mx-auto m-3" style = "width: 500px">
    <h1>
      これすき
    </h1>
    <p>あなたのすきを　みんなと共有しましょう！</p>
    <p>これすきは　タイムラインをカスタマイズできるSNSです</p>
    <p>すきな言葉を入れて楽しみましょう！</p>
  </div>
</div>