 <style>
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 20px;
    }
    a {
      text-decoration: none;
      color: #007BFF;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
  <div class="text-center">
  <h1>404</h1>
  <h2>Page Not Found</h2>
  <p>指定されたページまたはディレクトリが見つかりませんでした。</p>
  <p><a href="<%= root_path %>">トップページに戻ってください。</a></p>
  </div>