 <style>
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 20px;
    }
    a {
      text-decoration: none;
      color: #007BFF;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
  <div class="text-center">
  <h1>500</h1>
  <h2>Internal Server Error</h2>
  <p>申し訳ありませんが、サーバーで問題が発生しました。</p>
  <p><a href="<%= root_path %>">トップページに戻ってください。</a></p>
  </div>